# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints
personal_notebooks/

# IDE - PyCharm / IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db


# Claude tools
.claude
CLAUDE.md
CLAUDE.local.md


# Hydra / MLflow experiment outputs
outputs/
multirun/
mlruns/
.wiki

